# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Py2APK
.py2apk_cache/
*.log

# Virtual env
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# QEMU
qemu/